<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>MySite</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/gallery.css">
        
    </head>
<!------------------------------------헤더끝----------------------------------------->
  <!-----------------------------------nav,aisd---------------------------->  
    
  <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1>MySite</h1>
                <ul class="clearfix">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
            </div>
   
            <div id="nav">
                <ul class="clearfix">
                    <li>입사지원서</li>
                    <li>게시판</li>
                    <li>갤러리</li>
                    <li>방명록</li>
                </ul>
            </div>

            <div id="content2" class="clearfix">
                <div id="aside">
                    <h2>게시판</h2>
                    <ul>
                        <li>일반게시판</li>
                        <li>댓글게시판</li>
                    </ul>
            </div>


            <div id="main">
                <div id="main-head" class="clearfix">
                    <h3>일반게시판</h3>
                    <ol class="clearfix">
                         <li>홈</li>
                         <li>게시판</li>
                        <li>일반게시판</li>
                    </ol>
                </div>
            </div>
                        
<!------------------------------nav,aisd 끝------------------------------------------>
<!---------------------------------검색버튼-------------------------------------------------->

            <div class="but-search">                
                 <label for="txt-title" class="form-title"></label>
                 <button type="submit">이미지올리기</button>                
            </div>
            <!-------------------------검색버튼 끝----------------------------------------------------->
            <!-------------------------------이미지--------------------------------------->
             <div class="img-box">
                <div class="box">             
                  <img class="img" src="../../assets/image/Gangho-dong.jpg">       
                   <span class="you">작성자 임유빈</span>                    
                </div>
                <div class="box">             
                    <img class="img" src="../../assets/image/LeeHyoRi.jpg">       
                     <span class="you">작성자 임유빈</span>     
                  </div>
                  <div class="box">             
                    <img class="img" src="../../assets/image/Yoo-Jae-Suk.jpg">       
                     <span class="you">작성자 임유빈</span>     
                  </div>
                  <div class="box">             
                    <img class="img" src="../../assets/image/Jeongjae-Lee.jpg">       
                     <span class="you">작성자 임유빈</span>     
                  </div>
                  <div class="box">             
                    <img class="img" src="../../assets/image/Song-Ji-Hyo.jpg">       
                     <span class="you">작성자 임유빈</span>     
                  </div>
                  
                    
                    
             </div>           
             <!-------------------------------이미지 끝--------------------------------------->            
            <div id="footer">
                <p>
                    Copyright ⓒ 2025 임유빈. All right reserved
                </p>
            </div>
        </div>

        
 
    </body>
</html>