<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>MySite</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/board.css">
    </head>
<!------------------------------------헤더끝----------------------------------------->
  <!-----------------------------------nav,aisd---------------------------->  
    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1>MySite</h1>
                <ul class="clearfix">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
            </div>
   
            <div id="nav">
                <ul class="clearfix">
                    <li>입사지원서</li>
                    <li>게시판</li>
                    <li>갤러리</li>
                    <li>방명록</li>
                </ul>
            </div>

            <div id="content2" class="clearfix">
                <div id="aside">
                    <h2>게시판</h2>
                    <ul>
                        <li>일반게시판</li>
                        <li>댓글게시판</li>
                    </ul>
                </div>


                    <div id="main">
                        <div id="main-head" class="clearfix">
                            <h3>일반게시판</h3>
                            <ol class="clearfix">
                                <li>홈</li>
                                <li>게시판</li>
                                <li>일반게시판</li>
                            </ol>
                        </div>
                        <div class="but-search">
                            <input id="txt-title" type="text" name="" value="">
                            <label for="txt-title" class="form-title"></label>
                            <button type="submit">검색</button>
                        </div>
            <!------------------------------nav,aisd 끝------------------------------------------>
            <!-------------------------------테이블--------------------------------------->
            <div>
                <table>
                <colgroup>
                    <col style="width: 50px;">
                    <col style="width: 300px;">
                    <col style="width: 60px;">
                    <col style="width: 60px;">
                    <col style="width: 70px;">
                    <col style="width: 50px;">
                

                </colgroup>
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>글쓴이</th>
                            <th>조회수</th>
                            <th>작성일</th>
                            <th>관리</th>

                        </tr>
                                    
                                    
                    </thead>
                    <tbody>
                        <tr>
                            <td>123</td>
                            <td>게시판 게시글입니다</td>
                            <td>정우성</td>
                            <td>1212</td>
                            <td>2020.02.03</td>
                            <td>[삭제]</td>

                        </tr>
                            <tr>
                             <td>123</td>
                             <td>게시판 게시글입니다</td>
                              <td>정우성</td>
                              <td>1212</td>
                              <td>2020.02.03</td>
                             <td>[삭제]</td>
                        </tr>

                        <tr>
                             <td>123</td>
                             <td>게시판 게시글입니다</td>
                             <td>정우성</td>
                             <td>1212</td>
                             <td>2020.02.03</td>
                             <td>[삭제]</td>

                        </tr>

                        <tr>
                            <td>123</td>
                            <td>게시판 게시글입니다</td>
                            <td>정우성</td>
                            <td>1212</td>
                            <td>2020.02.03</td>
                            <td>[삭제]</td>

                        </tr>

                        <tr>
                            <td>123</td>
                            <td>게시판 게시글입니다</td>
                            <td>정우성</td>
                            <td>1212</td>
                            <td>2020.02.03</td>
                            <td>[삭제]</td>

                        </tr>



                    </tbody>
                    </table>
                        </div>
                   
                 <!---------------------------------테이블 끝---------------------->
                <!---------------------------------------------------------------->
                        
                
                            
                        
                            

                
                            
                        
            </div>
                </div>
            
            <div id="footer">
                <p>
                    Copyright ⓒ 2025 임유빈. All right reserved
                </p>
            </div>
        </div>

        
 
    </body>
</html>