<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>MySite</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/login.css">
        
    </head>
<!------------------------------------헤더끝----------------------------------------->
  <!-----------------------------------nav,aisd---------------------------->  
    
  <body>
  <div>
    <div id="wrap">
        <div id="header" class="clearfix">
            <h1>MySite</h1>
            <ul class="clearfix">
                <li>
                    <a href="">로그인</a>
                </li>
                <li>
                    <a href="">회원가입</a>
                </li>
            </ul>
        </div>

        <div id="nav">
            <ul class="clearfix">
                <li>입사지원서</li>
                <li>게시판</li>
                <li>갤러리</li>
                <li>방명록</li>
            </ul>
        </div>

        <div id="content2" class="clearfix">
            <div id="aside">
                <h2>게시판</h2>
                <ul>
                    <li>일반게시판</li>
                    <li>댓글게시판</li>
                </ul>
        </div>


        <div id="main">
            <div id="main-head" class="clearfix">
                <h3>일반게시판</h3>
                <ol class="clearfix">
                     <li>홈</li>
                     <li>게시판</li>
                    <li>일반게시판</li>
                </ol>
            </div>
        </div>
                    
<!------------------------------nav,aisd 끝------------------------------------------>
<!-- 아이디 페스워드------------------------------------------------------------- -->
    <div class="form-group">
        <label for="txt-title" class="form-title">아이디</label>
        <input id="txt-title" type="id" name="" value=""> <br><br>     
    
        <label for="txt-pwd" class="form-title">패스워드</label>
        <input id="txt-pwd" type="password" name="" value="">
        <div class="btn-group">
            <button type="submit">로그인</button>
           
        </div>
</div>
    </div>
<!-- 아이디 페스워드 끝------------------------------------------------------------- -->

                   
            <div id="footer">
                <p>
                    Copyright ⓒ 2025 임유빈. All right reserved
                </p>
            </div>
        </div>

        
 
    </body>
</html>