@charset "UTF-8";

/********************************
 * 게시판관련 페이지에서만 사용(리스트, 등록폼, 수정폼, 읽기)
********************************/

/* 리스트 */

.img-box.box{
    width: 150px;
    height: auto;
    overflow: hidden;
    border: 1px solid #000;
    margin : 40px;
    padding: 5px 5px 25px 5px;
}

.img{
    width: 180px;
}

/* /리스트 */



/* 등록폼 */
.but-search{
    float: right;
    margin-bottom: 100px;
}
   



   
/* .but-ssain{
    float: right;
} */

/* /등록폼 */