@charset "UTF-8";

/********************************
 * 게시판관련 페이지에서만 사용(리스트, 등록폼, 수정폼, 읽기)
********************************/

/* 리스트 */
#profile{
    width: 150px;
    float: left;
    margin-right: 15px;
    padding-left: 50px;
    border: 1px solid #000;


}
.box{
    width: 150px;
}



/* /리스트 */



/* 등록폼 */
.but-search{
    float: right;
    margin-bottom: 100px;
}
   



   
/* .but-ssain{
    float: right;
} */

/* /등록폼 */